.main{
    background-color: #ffff;
    padding: 30px;
    margin: 50px auto;
    max-width: 640px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.main > h1{
    font-size: 40px;
    color: black;
    margin: 10px 0;
    text-align: center;
}

